// ./src/scss/ieps_framework/modules/_blockquote.scss
// Module du blockquote

//----------------------------
//BLOCKQUOTE VARIABLES
//----------------------------

//BLOCKQUOTE

$font-style-blockquote: italic;
$margin-blockquote: 2rem 0;
$border-blockquote: solid 3px $color-neutral-5;
$padding-blockquote: 0 1.5rem;

//----------------------------
//DEFAULT SPECIFICATIONS
//----------------------------

//BLOCKQUOTE
blockquote,
.blockquote {
    font-style: $font-style-blockquote;
    margin: $margin-blockquote;
    padding: $padding-blockquote;
    border-left: $border-blockquote;
}
