//DEFINITION DE L'ETIQUETTE CONTAINER


//BOUCLE DES MEDIAS QUERIES
@use "sass:map";

@each $size, $values in $screen-sizes{
    @media screen and (min-width: map-get($values, 'breakpoint')) {
        .container {
                width: 100%;
                max-width: map-get($values,'container-size');
                margin: auto;
        }
    }
}

//-------------------------------
//CONTENT ALIGNMENTS
//-------------------------------

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify{
    text-align: justify;
}

