/*
  ./src/scss/ieps_framework/modules/_forms.scss
  Module des formulaires
 */

//----------------------------
//FORM VARIABLES
//----------------------------

//BOX
$width-box: 100%;
$padding-box: 0.7rem;
$color-box: $color-text;
$border-box: 2px solid $color-neutral-5;
$gap-box: 1rem;

//TYPE RADIO
$margin-top-radio: 2rem;
$margin-right-radio: 1rem;
$width-radio: 25px;
$height-radio: 25px;
$align-radio: flex-end;

//TYPE CHECKBOX
$margin-top-checkbox: 2rem;
$margin-right-checkbox: 1rem;
$width-checkbox: 25px;
$height-checkbox: 25px;

//SELECTED
$width-selected: 100%;
$padding-selected: 0.7rem;
$color-selected: $color-text;
$border-selected: 2px solid $color-neutral-5;
$margin-selected: 1rem;

//AREA
$margin-area: 2rem;
$width-area: 100%;

//BTN
$margin-form-btn: 2rem;

//ITEMS
$align-check: flex-end;
//GAP
$gap-form: 0 1rem;
//----------------------------
//FORM SPECIFICATIONS
//----------------------------

.box {
    width: $width-box;
    padding: $padding-box;
    color: $color-box;
    border: $border-box;
    gap: $gap-box;
}

.radio {
    margin-top: $margin-top-radio;
    margin-right: $margin-right-radio;

    width: $width-radio;
    height: $height-radio;
}

.checkbox {
    margin-top: $margin-top-checkbox;
    margin-right: $margin-right-checkbox;
    width: $width-checkbox;
    height: $height-checkbox;
}

.selected {
    width: $width-selected;
    padding: $padding-selected;
    color: $color-selected;
    border: $border-selected;
    margin-top: $margin-selected;
}

.form-radio {
    align-items: $align-radio;
}
.form-check {
    align-items: $align-check;
}
.text-area {
    margin-top: $margin-area;
    width: $width-area;
}
.form-btn {
    margin-top: $margin-form-btn;
}
.gap1 {
    gap: $gap-form;
}
