/*
  ./src/scss/ieps_framework/modules/_init.scss
  Module du init
 */

//FICHIER D'INITIALISATION
//FRAMEWORK RECUPERABLE D'UN SITE A L'AUTRE

//DIMENSIONS D'ECRANS

$screen-sizes: (
    'xs': (
        'breakpoint': 0,
        'container-size': auto,
    ),
    's': (
        'breakpoint': 576px,
        'container-size': 540px,
    ),
    'm': (
        'breakpoint': 768px,
        'container-size': 720px,
    ),
    'l': (
        'breakpoint': 960px,
        'container-size': 960px,
    ),
    'xl': (
        'breakpoint': 1200px,
        'container-size': 1140px,
    ),
);

* {
    box-sizing: border-box;
}
