//  ./src/scss/ieps_framework/modules/_lists.scss
//  Module des lists

//----------------------------
//LISTS VARIABLES
//----------------------------

$margin-list: 2rem 0;
$margin: 1rem 0;
$margin-list-li: 0.5em 0;

//UNORDERED - UL
$margin-list-unordered-li: 0.75rem 0;
$margin-top-list-unordered: 1.5rem;

//ORDERED
$margin-list-ordered-li: 0.75rem 0;
$margin-top-list-ordered: 1.5rem;

//ALTERNATE - UL.ALTERNATE
$margin-top-list-alternate: 1.5rem;
$margin-list-alternate-li: 0.75rem 0;

//ICONS
$margin-list-icon-li: 0 0 0 1rem;
$list-style-icon: none;
$display-list-icon: flex;
$flex-direction-icon: row;
$padding-list-icon: 0;
$margin-top-list-icons: 1.5rem;
$display-a-list-icon: flex;
$justify-content-a-list-icon: center;
$width-a-list-icon: 30px;
$height-a-list-icon: 30px;
$text-decoration-list-icon: none;

//ICON-CIRCLED
$icon-circled-border: 2px solid $color-neutral-5;
$icon-circled-border-radius: 50%;

//DEFINITION
$list-style-definition: none;
$padding-definition: 0;
$margin-left-text-definition: 2rem;
$text-transform-definiton: capitalize;
//----------------------------
//LISTS SPECIFICATIONS
//----------------------------

//DEFINITION
.definition {
    list-style: $list-style-definition;
    padding: $padding-definition;
    margin: $margin;
    .text-definition {
        margin-left: $margin-left-text-definition;
    }
    h4 {
        text-transform: $text-transform-definiton;
        font-family: $font-1;
    }
}

.list-unordered {
    margin-top: $margin-top-list-unordered;
    li {
        margin: $margin-list-unordered-li;
    }
}

.list-ordered {
    margin-top: $margin-top-list-ordered;
    li {
        margin: $margin-list-ordered-li;
    }
}

.list-alternate {
    margin-top: $margin-top-list-alternate;
    li {
        margin: $margin-list-alternate-li;
    }
}

//ICON
.list-icon {
    margin-top: $margin-top-list-icons;
    display: $display-list-icon;
    flex-direction: $flex-direction-icon;
    padding-left: $padding-list-icon;
    margin: $margin-list;
    list-style: $list-style-icon;

    li {
        margin: $margin-list-icon-li;
    }

    a {
        display: $display-a-list-icon;
        justify-content: $justify-content-a-list-icon;
        width: $width-a-list-icon;
        height: $height-a-list-icon;

        text-decoration: $text-decoration-list-icon;
        &:hover {
            color: $colorHover;
        }
    }
}

.circled {
    border: $icon-circled-border;
    border-radius: $icon-circled-border-radius;
    &:hover {
        border-color: $colorHover;
    }
}
