/*
  ./src/scss/ieps_framework/modules/_tables.scss
  Module des tables 
 */

//----------------------------
//TABLES VARIABLES
//----------------------------
//TABLES
$margin-table: 1rem 0 3rem 0;
$font-size-table: 1rem;
$text-align-table: left;
$border-spacing-table: 0;
$width-table: 100%;

//CAPTION
$text-align-caption: left;
$text-transform-caption: uppercase;
$font-weight-caption: 900;
$margin-bottom-caption: 2rem;

//THEAD
$text-transform-thead: uppercase;
$font-family-thead: $font-2;
$font-size-thead: 0.8rem;
$padding-left-th-thead: 0.5rem;
$font-size-tr-thead: 0.8rem;

//TH
$font-weight-th: 300;

//TBODY
$line-height-tbody: 3;
$border-td-alternate-tbody: 0.5px solid $color-neutral-5;
$padding-left-tr-alternate-tbody: 0.5rem;
$border-th-alternate-tbody: 0.5px solid $color-neutral-5;
$border-tr-default-tbody: 0.5px solid $color-neutral-5;
$padding-left-tr-default-tbody: 0.5rem;

//TFOOT
$border-td-tfoot: 0.5px solid $color-neutral-5;
$padding-left-td-tfoot: 0.5rem;
//----------------------------
//DEFAULT SPECIFICATIONS
//----------------------------

table {
    border-spacing: $border-spacing-table;
    margin: $margin-table;
    font-size: $font-size-table;
    text-align: $text-align-table;
    width: $width-table;
    caption {
        text-transform: $text-transform-caption;
        font-weight: $font-weight-caption;
        font-family: $font-2;
        text-align: $text-align-caption;
        margin-bottom: $margin-bottom-caption;
    }

    thead {
        text-transform: $text-transform-thead;
        font-family: $font-family-thead;
        font-size: $font-size-thead;
        th {
            padding-left: $padding-left-th-thead;
        }
    }
    tr {
        font-size: $font-size-tr-thead;
    }

    tbody {
        line-height: $line-height-tbody;
        &.alternate {
            text-align: $text-align-table;
            td {
                border: $border-td-alternate-tbody;
            }
            tr {
                > * {
                    padding-left: $padding-left-tr-alternate-tbody;
                }
            }
            tr:nth-child(odd) {
                background-color: $color-neutral-6;
            }

            th {
                font-weight: $font-weight-th;
                border: $border-th-alternate-tbody;
            }
        }

        &.default {
            tr {
                > * {
                    border-top: $border-tr-default-tbody;
                    padding-left: $padding-left-tr-default-tbody;
                }
            }

            tr:nth-child(odd) {
                background-color: $color-neutral-6;
            }

            th {
                font-weight: $font-weight-th;
            }
        }
    }
}

tfoot {
    td {
        border-top: $border-td-tfoot;
        padding-left: $padding-left-td-tfoot;
    }
}
