/*
  ./src/scss/app.scss
  
 */
// FICHIER DE SURCHARGE

@import './ieps_framework/index.scss';

body {
    background: radial-gradient(at top, $color-1 10px, $color-2 60%);
}

//MAIN HEADER
.main-header {
    a {
        color: $color-neutral-4;
    }
    nav {
        background: rgba($color-neutral-4, 0.1);
    }
    &.logo-link {
        text-decoration: none;
        display: block;
        width: 200px;
        border: 4px solid $color-neutral-4;

        padding: 0.5rem;
        margin: 6rem auto 2rem auto;
    }
}

//MAIN CONTENT
.main-content {
    background: $color-neutral-4;
    width: 100%;
    padding: 4rem 0;

    @each $size, $values in $screen-sizes {
        @media screen and (min-width: map-get($screen-sizes , 'l', 'breakpoint' )) {
            padding: 4rem 0;
        }

        @media screen and (max-width: map-get($screen-sizes , 'm', 'breakpoint' )) {
            padding: 3rem 2rem;
        }
        &.post {
            @media screen and (min-width: map-get($screen-sizes , 'l', 'breakpoint' )) {
                padding: 4rem 0 0 0;
            }
        }

        &.content-framed {
            background: $color-neutral-4;
            padding: 8rem 2rem;
            @media screen and (min-width: map-get($screen-sizes , 'l', 'breakpoint' )) {
                padding: 8rem 5rem;
            }
        }

        .main-title {
            margin-bottom: 2rem;
            font-size: 2.5rem;
            @media screen and (min-width: map-get($screen-sizes, 's', 'breakpoint')) {
                font-size: 2.5rem;
            }
            @media screen and (min-width: map-get($screen-sizes, 'm', 'breakpoint')) {
                font-size: 3rem;
                display: flex;
                justify-content: center;
                gap: 1rem;
            }
            @media screen and (min-width: map-get($screen-sizes, 'l', 'breakpoint')) {
                font-size: $font-size-h1;
                display: block;
            }
        }
    }
}
//MAIN FOOTER
.main-footer {
    background: $color-neutral-2;
    ul {
        list-style: none;
    }

    input,
    textarea {
        margin: 1.5rem 0 1rem 0;
        background: none;
    }

    form {
        border-right: 3px solid $color-neutral-5;
        padding: 3rem;
    }
    address {
        padding: 3rem 4rem;
        border-bottom: 3px solid $color-neutral-5;
        li:not(:last-of-type) {
            margin-right: 4rem;
        }
        @media screen and (min-width: map-get($screen-sizes, 'xs', 'breakpoint')) {
            padding-left: 0;
            margin-left: 0;
        }
    }

    .social {
        padding: 3rem 4rem;
        border-bottom: 3px solid $color-neutral-5;
        .list-icon {
            margin-left: 2rem;
            a {
                margin-bottom: 0.5rem;
                align-items: center;
            }
        }
        @media screen and (min-width: map-get($screen-sizes, 'xs', 'breakpoint')) {
            padding-left: 0;
            margin-left: 0;
        }
    }
}

//FOOTER
.copyright {
    span {
        margin: 0.5rem;
    }
    color: $color-neutral-3;
    margin: 2rem 0 5rem 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    a {
        color: $color-neutral-3;
        &:hover {
            color: white;
        }
    }
}

//IMAGE PART

.float-left {
    width: 30%;
    margin: 0.75rem 1rem 0 0;
}
.float-right {
    width: 30%;
    margin: 3.5rem 0 0 1rem;
}

.full {
    display: flex;
    padding-bottom: 1rem;
    margin: 0;
    width: 100%;
    height: 500px;
}

.text-image {
    margin-top: 5rem;
}

.img-mini {
    gap: 0.6rem;
    padding-bottom: 2rem;
    img {
        width: 100%;
    }
}
